<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Presidential Debate Time Machine</title>
	</head>
	<body>
		<form action = '/' method='POST'>
			<input type='name' name='text' placeholder="Your question here!" />
			<input type='submit' value='Submit' />
		</form>
		{% if text %}
			<h1>You asked:</h1>
			<p> {{ text }}
			<h1>The candidates say:</h1>
			<p> {{ answer }} </p>
		{% else %}
			<h1>Welcome to the presidential debate time machine!</h1>
			<p>Ask a question and prominent presidential candidates will answer.</p>
		{% endif %}
	</body>
</html>
